<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h2 class="text-center mb-3">Registro de Vendas</h2>
<form action="/vendas" method="post" class="p-3">
    <div class="mb-3">
        <select class="form-select" id="produtoId" name="produtoId" required>
            <option value="" disabled selected>Selecione um produto</option>
            <th:block th:each="produto : ${produtos}">
                <option th:value="${produto.id}" th:text="${produto.nome + ' - R$ ' + produto.preco}"></option>
            </th:block>
        </select>
    </div>

    <div class="mb-3">
        <input type="number" class="form-control" id="quantidadeVendida" name="quantidadeVendida" min="1" placeholder="Quantidade" required>
    </div>

    <div class="d-flex justify-content-between mb-3">
        <button type="submit" class="btn btn-success">Registrar</button>
        <a href="/home" type="submit" class="btn btn-primary">Voltar</a>
    </div>

</form>
</div>


</body>
</html>